#coursesContentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; /* Adjust the gap between the divs as needed */
  }
  
  .courseCategory {
    width: 100%; /* Set the width of each div */
    height: 100px; /* Set the height of each div */
    /* Add any other styles you want for the courseCategory */
  }
  