#coursesContentContainer{
    height:70%;
    width:60%;
    top:0;
    left:0;
    margin-left: 20%;
    margin-top:7%;
    background-color:black;
    position:absolute;
    color:white;
}