#navBarMain {
    background-color: rgb(28,117,188); /* Set the background color */
    color: #fff; /* Set the text color */
    width:100%;
    position:absolute;
    height:60px;
    left:0;
    top:0;
  }
  #navBarMenuIcon{
    min-height:40px;
    width:auto;
    fill:white;
    left:20px;
    top:6px;
    position:absolute;
  }
  #navBarLogo{
    max-height:50px;
    width:auto;
    left:50%;
    top:6px;
    position:absolute;
  }
  #sideBarOpen{
    position:absolute;
    left:0;
    top:0;
    width:20%;
    height:100%;
    background-color:rgb(28,117,188);
}
#sideMenuItemContainers{
    position:relative;
    height:100%;
    top:75px;
}
  .sideMenuItem{
    height:75px;
    width:100%;


    border-color:black;
    border-width:1px;
    border-bottom-style:solid;
}
#sideMenuItem1{
    border-top-style:solid;
}
  