/* App.css */

/* Existing styles ... */

.navbar {
    position: relative;
    z-index: 10; /* Ensures the navbar is above other content */
  }
  
  .admin-panel {
    width: 100%; /* Full width of its container */
    position: relative; /* Adjust if necessary to position the admin panel below the navbar */
    z-index: 7; /* Below the navbar but above other content */
    padding-top: 65px; /* Gives some space below the navbar */
  }
  
  .admin-panel button {
    padding: 10px 20px; /* Adjust the size as needed */
    font-size: 1.2rem; /* Makes the text larger */
    background-color: white; /* Sets the background color to white */
    color: blue; /* Sets the text color to blue */
    border: 2px solid blue; /* Adds a blue border */
    border-radius: 5px; /* Rounds the corners of the button */
    cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    display: block; /* Needed to center with margin auto */
    margin: 0 auto; /* Center the button */

  }
  
  .admin-panel button:hover {
    background-color: blue; /* Changes the background color to blue when hovering */
    color: white; /* Text color changes to white when hovering */
  }
  
  .admin-panel button:focus,
  .admin-panel button:active {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5); /* Adds a blue shadow for a focus indicator */
  }
  